@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/css/index.css'>
<table class="product_holder">
    @foreach (var c in Model.Products)
    {        
        <tr>
            <a href="/product?id=@c.Id">
                <div class="Product">
                    <img style="width: 190px; 190px;"src="@c.ImgUrl" alt="Alternate Text" />
                    <p>@Html.DisplayName(c.Name)</p>
                    <p>@Html.DisplayName(c.Price.ToString())</p>     
                </div>
            </a>
        </tr>
    }
</table>