@using DataAccessLayer.Interfaces
@using DataAccessLayer.Models
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using KE03_INTDEV_SE_1_Base.Pages;
@inject ICustomerRepository UserRepository
@inject IHttpContextAccessor HttpContextAccessor

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

@{
    var userId = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<int?>("User_id") ?? -1;
    var user = UserRepository.GetCustomerById(userId);
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix Inc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/img/matrix_logo.png" alt="Matrix Inc" />
        </div>

        <div class="home-btn">
            <a href="/index">
                <button>Home</button>
            </a>
        </div>

        <!--<div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Zoeken" />
        </div>-->

        <div class="language">
            <div><img src="~/img/nl.png" alt="NL" /> Nederlands</div>
        </div>

        <div class="icons">
            @if (userId == -1)
            {
                <a href="/winkelwagen"><ion-icon name="cart-outline"></ion-icon></a>
                <a href="/login"><span>Login</span></a>
            }
            else if (user != null)
            {
                <a href="/orderHistory"><i class="fa fa-history" aria-hidden="true"></i></a>
                <a href="/winkelwagen"><ion-icon name="cart-outline"></ion-icon></a>
                <a href="/login"><ion-icon class="user_profile" name="person-circle-outline"></ion-icon></a>

                <span>Welkom @user.Name</span>
            }
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
