<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix Inc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="~/img/matrix_logo.png" alt="Matrix Inc" />
        </div>
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Zoeken" />
        </div>
        <div class="language">
            <div><img src="~/img/nl.png" alt="NL" /> Nederlands</div>
        </div>
        <div class="icons">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i>
            <a href="/login"><span>Login</span></a>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>
